<!DOCTYPE html>
<html>
  <head>
    <title>christian jade buzon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>

  <body class="text-slate-700">
    <main class="h-screen mx-auto my-auto p-5 md:p-10 lg:p-16 ">
      <%= yield %>
    </main>
  </body>
</html>
