<!DOCTYPE html>
<html>
  <head>
    <title>CHRISTIAN JADE BUZON</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>

  <body class="text-slate-700">
    <div data-controller="loading-screen" data-loading-screen-page="<%= controller_name %>">

      <div class="select-none animate-pulse grid h-screen place-items-center text-3xl md:text-4xl xl:text-6xl uppercase tracking-widest font-light" data-target="loading-screen.start">
        Christian Jade Buzon
      </div>

      <main class="h-screen mx-auto my-auto p-5 md:p-10 lg:p-16 reveal" data-target="loading-screen.main">
        <%= render partial: "layouts/header"%>

        <div class="second-section mt-4 md:mt-8 border-solid border-2 border-slate-800 w-full h-4/5 md:h-6/8 lg:h-3/4 xl:h-2/3 shadow-xl border-opacity-60 p-6 md:p-12">
          <%= yield %>
        </div>
      </main>

    </div>
  </body>
</html>
